.container {
    padding: 10px;
}

.card {
    width: 346px;
    height: 120px;
}

.card-context {
    height: 60%;
}

.card-footer {
    height: 40%;
    background: #FF5252;
    color: white;
    padding-left: 20px;
    padding-top: 6px;
    text-align: center;
}