<div class="container">
  <mat-card class="card">
    <mat-card-content class="card-context">
      <mat-grid-list cols="2" rowHeight="2:1">

        <mat-grid-tile style="width: 200px !important;">
          <div style="width: 400px;">R$300,00</div>
          <div style="width: 400px;">R$300,00</div>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-icon style="float: right">remove_shopping_cart</mat-icon>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card-content>

    <mat-card-footer class="card-footer">
      Não entregues
    </mat-card-footer>

  </mat-card>
</div>

<!-- FF5252 -->