<mat-card class="card">

    <mat-card-title >
      <mat-toolbar style="height: 20px; justify-content: flex-end;" class="toolbar">
        <button mat-icon-button style="margin-right: -20px;">
          <mat-icon style="font-size: 22px;">more_vert</mat-icon>
        </button>
      </mat-toolbar>
  
      <mat-toolbar style="height: 76px;" class="toolbar">
        <div class="spacer center">
          <div style="text-align: center;" [ngStyle]="{'color': motivo.cor}">Pedidos</div>
          <div style="font-size: 18px; text-align: center">{{motivo.quantidade}}</div>
        </div>
      </mat-toolbar>
    </mat-card-title>
  
    <mat-card-content>
  
      <div class="footer">
        <mat-toolbar style="height: 50px;" class="toolbar">
          <span class="spacer" style="color: white; font-size: 16px;">{{motivo.descricao}}</span>
          <mat-icon style="color: white">{{card.iconeFooter}}</mat-icon>
        </mat-toolbar>
      </div>
  
    </mat-card-content>
  </mat-card>

  0ba360